<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="#">Oxygeni</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" ><a class="nav-link " routerLink="/" >Home</a></li>
                <li class="nav-item"><a class="nav-link"  routerLink="/chercher" >Chercher un concentrateur</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/ajouter"  >Ajouter un concentrateur</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/contactus">Contacter nous</a></li>
                <li *ngIf="auth.loggedIn()" class="nav-item"><a class="nav-link" routerLink="/myposts">Mes posts</a></li>
                <li *ngIf="!auth.loggedIn()" class="nav-item"><a class="nav-link"routerLink="/login">Login</a></li>
                <li *ngIf="!auth.loggedIn()" class="nav-item"><a class="nav-link"routerLink="/signup">Signup</a></li>
                <li *ngIf="auth.loggedIn()" class="nav-item"><button class="nav-link" (click)="auth.logout()">Logout</button></li>

              </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
<div class=" footer pb-0 justify-content-center text-light ">
    <footer>
        <div class="row justify-content-center py-5">
            <div class="col-11">
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                        <h3 class="text-muted mb-md-0 mb-5 bold-text">Oxygeni</h3>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h4 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h4>
                        <ul class="list-unstyled">
                            <li  routerLink="/home" >Home</li>
                            <li  routerLink="/chercher">Chercher concentrateur</li>
                            <li  routerLink="/ajouter">Ajouter concentrateur</li>
                            <li  routerLink="/login">Login</li>
                            <li  routerLink="/signup">Signup</li>

                        </ul>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h4 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h4>
                        <p class="mb-1">124,RUE ANBAR ,CITE MANAZEH,KALAA SEGHIRA</p>
                        <p>SOUSSE</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                        <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p><small class="rights"><span>&#174;</span> Oxygeni All Rights Reserved.</small>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                        <h6 class="mt-55 mt-2 text-muted bold-text"><b>POUR SIGNALE</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> akrem@gmx.us</small>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
                        <h6 class="text-muted bold-text"><b>RISHABH SHEKHAR</b></h6><small><span><i class="fa fa-envelope" aria-hidden="true"></i></span> akremhammami@outlook.com</small>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>