<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="#">Oxygeni</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" ><a class="nav-link " routerLink="/" >Home</a></li>
                <li class="nav-item"><a class="nav-link"  routerLink="/chercher" >Chercher une bouteille</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/ajouter"  >Ajouter une bouteille</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/contactus">Contacter nous</a></li>
                <li *ngIf="auth.loggedIn()" class="nav-item"><a class="nav-link" routerLink="/myposts">Mes posts</a></li>
                <li *ngIf="!auth.loggedIn()" class="nav-item"><a class="nav-link"routerLink="/login">Login</a></li>
                <li *ngIf="!auth.loggedIn()" class="nav-item"><a class="nav-link"routerLink="/signup">Signup</a></li>
                <li *ngIf="auth.loggedIn()" class="nav-item"><button class="nav-link" (click)="auth.logout()">Logout</button></li>

              </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>