

<body>
   
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="background-image:url(&quot;assets/img/tech/image4.jpg&quot;);color:rgba(57, 140, 192, 0.55);">
            <div class="text">
                <h2>Oxygeni</h2>
                <p>أوكسيجاني هوا سيت تلقا فيه دبوسة أكسيجين في ولاية تونس لكل ماعليك كان تحط البلاصة متاعك وربي يشفي كل مريض</p>
                <button style="margin-right: 80px;"  routerLink="/ajouter" class="btn btn-primary" type="submit">بش نحط دبوسة أكسيجين</button>
                <button  routerLink="/chercher" class="btn btn-primary" type="submit">نلوج على دبوسة أكسيجين</button>


            </div>
        </section>
      
     </main>
    
    
</body>
